body{
    margin:0;
}
.target{
    background: #7f7f80;
    height: 200px;
    width: 300px;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    box-shadow: #d5b491 -10px -30px 20px 10px;
}
.target_2{
    position: absolute;
    top: 65%;
    left: 15%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 15px;
    border-left: #fd6e1d solid 5px;
    margin:0;
}
